
DAD/.metadata/version.ini
DAD/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
DAD/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
DAD/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
DAD/.metadata/.plugins/org.eclipse.m2e.jdt/Holamundo.container
DAD/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
DAD/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_d.cfs
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_c_1.del
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_c.cfs
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_b_1.del
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_b.cfs
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_a_1.del
DAD/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_a.cfs
DAD/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
DAD/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
DAD/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
DAD/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
DAD/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
DAD/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
DAD/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
DAD/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
DAD/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
DAD/.metadata/.plugins/org.eclipse.jdt.core/924279705.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/750087948.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/516220724.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/50763568.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/494210655.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/437753268.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/4106883464.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3863807648.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3698104363.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/364355689.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/355200717.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3418303824.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3327459320.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3238284172.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/3082348448.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2973551228.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2971786103.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2883809216.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2837113565.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2821287540.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2698651448.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2621580750.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2348624533.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2271053911.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2192880440.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2160469498.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/2008512254.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1988023050.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1985867529.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/185984180.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1724099852.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1667158375.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1593553421.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1576315547.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1573503140.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/157204226.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1440441043.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1376778005.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/136641021.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1211609000.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1194132326.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1153155233.index
DAD/.metadata/.plugins/org.eclipse.jdt.core/1114378859.index
DAD/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
DAD/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
DAD/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
DAD/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
DAD/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
DAD/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
DAD/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
DAD/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
DAD/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
DAD/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
DAD/.metadata/.plugins/org.eclipse.core.resources/.projects/Holamundo/.markers
DAD/.metadata/.plugins/org.eclipse.core.resources/.projects/Holamundo/.indexes/properties.index
DAD/.metadata/.plugins/org.eclipse.core.resources/.projects/Holamundo/.indexes/e4/b9/22/95/history.index
DAD/.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.11.0.20190220-2119.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.log
.metadata/.lock
DAD/.metadata/.log
DAD/.metadata/.log
